<% 
 var tatleta=data.tkdtatleta;
 var avversari=data.avversari;
 var tabulato=data.tabulato;


 
%>

<div>

<div data-role="collapsible" class="collaps" data-theme="a">
   	<h5>Dati iscrizione categorie</h5>

     <%
     if (tatleta.sesso!="--") {
     %>


 
       <table class="piccolatable" width="100%" border="1">
       <tr><td>Sesso</td><td><%=tatleta.sesso%></td></tr>
       <tr><td>Categoria età</td><td><%=tatleta.cateta%></td></tr>
       <tr><td>Categoria cintura</td><td><%=tatleta.catcintura%></td></tr>
       <tr><td>Categoria peso</td><td><%=tatleta.catpeso%> kg</td></tr>
       </table>

       <% } else { %>
       <p class="pad3">Atleta non trovato nelle categorie ufficiali</p>


       <% } %>
  </div>	



<div data-role="collapsible" class="collaps" data-theme="a">
   	<h5>Avversari in categoria</h5>
     <table class="piccolatable" width="100%" border="1">
    <%
      for (var xxx=0; xxx<avversari.length; xxx++){
        var avv=avversari[xxx];
        if (avv.nome.toLowerCase()!=data.atletaname.toLowerCase()) {
    %>
     <tr><td><%=avv.nome%></td><td><%=avv.societa%></td></tr>


    <%  
    }
      }

      if (avversari.length==0) {
%>
    <p class="pad3">Avversari in categoria non trovati per questo atleta</p>
<%
      }

    if (tkdt_atleti.length==0) {
    %>   
    <p class="pad3">Dati ufficiali atleti non disponibili</p>
    <% } %>
    </table>

  </div>	

  <div data-role="collapsible" class="collaps" data-theme="a">
   	<h5>Tabulato</h5>
     <% if (tabulato.sesso!="--") { %>
     <a data-role="button" style="font-size: 11px" href="<%=tabulato.href%>"><%=tabulato.tabname%></a>
      <% } else { %>
      <p class="pad3">Tabulato non trovato per questo atleta</p> 
      <% } 
      
       
      
      %>
  </div>	
  
  
  <div data-role="collapsible" class="collaps" data-theme="a">
   	<h5>Storico gare</h5>
       
  
<!--<div class="card">-->

<!--<div>
	<p  style="cursor: pointer; background: lightblue" onclick="getMpaHistoryAtleta()">Storico gare per <b><%=data.atletaname%></b></p>
 </div>-->
 <!--<div>-->


<table border="1" id="rankingtable" align="center" width="98%">
<!--<tr><th colspan="6" style="text-align: center">Storico gare per <b><%=data.atletaname%></b></th></th>-->
<tr ><th style="text-align: center">Gara</th><th style="text-align: center">Med.</th><th style="text-align: center">Match</th><th style="text-align: center">Disp.</th></tr>
<!--</table>-->

<!--<ul data-role="listview">-->

<% for (var i=0; i<data.rows.length; i++) {

   var row=data.rows[i];
   var doc=row;
   var location=doc.location;
   var ddd=doc.data;
   var atlname=data.atletaname;

   
   var ori=doc.ori;
   var argenti=doc.arg;
   var bronzi=doc.bro;
   var nmatches=doc.matches;
   var ndmatches=doc.matchesdisputati;
    
   var medaglia="---";
   color="gray";

   if (argenti>0) {
     medaglia="ARG";
     color="silver";
     }

   if (ori>0) {
   medaglia="ORO";
   color="orange";
   }
   if (bronzi>0) {
   medaglia="BRO";
   color="brown";
   }
    
   if (nmatches>0) {
%>
<!--<li>
<table width="100%" border="0">-->
<tr><td><%=ddd%> - <%=location%></td><td align="center" width="50"><span style='color: <%=color%>'><b><%=medaglia%></b></span></td><td align="center" width="40"><%=nmatches%></td><td align="center"width="40" ><%=ndmatches%></td></tr>
<!--</table>
</li>-->
<%
  }

}


%>
<!--</ul>-->
</table>
<!--</div>
</div>-->


<!--</div>
</div> card -->
</div> <!--collapsible -->

</div>