	<% for(var i=0; i<data.length; i++) { 
	    var doc=data[i].doc;
		var st="";

		var bcastid=data[i].doc.matchid+"_"+data[i].doc.atletaname;
	
		
	
	%>
  <li id="match_<%= doc.id %>" style="<%=st%>" data-icon="false" tkdr-matchid="<%= doc.matchid %>" class="ui-li-has-thumb ui-first-child">
  <a onclick="setResult(this)" href="#" data-ajax="false" id="prog<%= doc.id %>" class="fastClick ui-btn" style="padding: 2px 2px 2px 2px;">
  <%
  
	
	var imgsrc="images/matchok.png";
	if (doc.disputato=="no") imgsrc="images/matchtoplay.png";
	if (doc.disputato=="yes"){
	  if (doc.vinto=="yes") imgsrc="images/matchok.png";
	  if (doc.vinto=="no") imgsrc="images/matchko.png";
	  if (doc.medagliamatch=="bronzo") imgsrc="images/medaglia_bronzo.png";
	  if (doc.medagliamatch=="argento") imgsrc="images/medaglia_argento.png";
	  if (doc.medagliamatch=="oro") imgsrc="images/medaglia_oro.png";
	}
	
	if (doc.realtime){
	  if (String(doc.realtime)=="true") imgsrc="images/greenblink.gif"
	}
	
	var colorstyle="";
	if (data[i].doc.color) {
	   colorstyle="background: "+data[i].doc.color+";";
	}
	
	
	
	
  
  %>
  <table width="100%">
<tr>
<td width="60px" valign="top" style="padding: 5px">
<div>
  <img class="cardnomargin simgicon sui-li-icon ui-corner-none" src="<%= imgsrc %>" sheight="50" swidth="50" style="width: 45px; height: 45px">
  </div>
  </td>
  <td>
    <div>

	<%	
	  var vclass="";
	  var parola="Non disputato"
	   var goldenpoint="";
	if (data[i].doc.goldenpoint) {
	 if (String(data[i].doc.goldenpoint)=="true"){
	   goldenpoint=" GP";
	 } 
	}
	  
	  
	  if ($.trim(data[i].doc.disputato)=="yes")
	  {
	  if ($.trim(data[i].doc.vinto)!="yes") { 
	  
	  vclass="red";
	  parola="Perso";
		} else {
		vclass="green";
		parola="Vinto";
	} 
	} else {
	  vclass="black"
	}
	
	
	%>
		<span class="match "><%= data[i].doc.matchid %></span><br>
	<span class="categoria"><%= getCategoria(data[i].doc.datanascita).toUpperCase() %></span><br>
	<!--<span class="categoria"><%= data[i].doc.tkdtcategoria %></span><br>-->
	<div class="ui-grid-a">
    <div class="ui-block-a">
	<span class="atleta"><%= data[i].doc.atletaname %></span>
	</div>
    <div class="ui-block-b">
	
	</div>
    
</div>
	
	
	<span class="soft">
	<%= parola %><% if ($.trim(data[i].doc.disputato)=="yes") { %>, risultato: <%= data[i].doc.risultato %><%=goldenpoint%><% }  %></span>
	
	<%
	if (data[i].doc.avversario) {
	%>
	
	<br><span class="avv"><br></span>
	<%
	}
	%>
	
	</div>
	
	<%
	 if (data[i].doc.derby)
	 {
	 
	  var dm=filterRows(jmatchesbyprog,{id: data[i].doc.derby})
	  colog("ho appena impostato dm in matchesforatleta.ejs")
	  var davv="";
	  if (dm.rows.length>0){
	   davv=dm.rows[0].doc.atletaname;
	  
	
	%>
	  <span class=small><i>DERBY CON <%= davv.toUpperCase() %> !</i></span>
	<%
	  } }
	%>
	</td>
	<td width="23px" valign="top">
	<!--<a class="ui-btn" style="border-radius: 10px;" href="#" onclick="broadcastMatch('match_<%=data[i].doc.id%>')"><img src="img/videocamera3.png" style="width: 20px; height: 20px"/></a>-->
<!--<div class="corazza" style="float: right; width: 20px; height: 20px; <%=colorstyle%>"></div>-->
</td>
	</tr>
	</table>
	
	
	
	
	</a>
	<input type="hidden" value="<%= doc.datanascita %>" class="datanascita">
	<input type="hidden" value="<%= doc.atletaid %>" class="atletaid">
	<input type="hidden" value="<%= doc.atletaname %>" class="atletaname"></li>
   <% 
   
   } %>