<% 

    
    for (var i=0; i<data.length; i++)  {  

      var row=data[i];
	  
	  var cl="bubble";
	  if (row.nickname==chatuser.nickname) cl="bubble bubble--alt";
	   var ora=row.time.substring(8,10)+":"+row.time.substring(10,12);
	   
	   var stile="";
	  if (row.color) {
	    
		if (row.color=="yellow") cl="sysbubble";
		//stile="style='background: "+row.color+";'";
	  
	  }
	  
%>

	
	<div class="<%=cl%>" <%=stile%>>
	   <span class="nick"><%=row.nickname%></span> - <%=ora%><br>
	   <%
	   if (row.foto) {
			if (row.foto.trim()!="") {
	   %>
	   <div style="swidth:300px; sheight: 300px">
	   
	   <!--<span class="foto">--><img style="max-width: 100%; max-height: 100%;" src='<%=row.foto%>' onclick="openChatFoto('<%=row.foto%>')" /><!--</span>-->
	   </div>
	   <br>
	   <% }} %> 
	   <%
	    if (row.audio) {
			if (row.audio.trim()!="") {
	   %>
	   <audio src="<%=row.audio%>" controls>
   Your browser does not support the audio element.
     </audio>
	   <br>
	   <% }} %> 
		<%=row.text%>
	</div>
	
<% 
 }

%> 


<style type="text/css">
/* Bit of normalisation */

/*
body {
	background-color: #eee;
	color: #222;
	font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*/

.nick {
 font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
	/*height: 45px;*/
    width: 100%;
	border: 1px solid silver;
	background: lightblue;
}

.chatimg {
	display: block;
	height: auto;
	max-width: 100%;
}


.container {
	padding: 30px 10px;
	/*margin: 0 auto;*/
	
	overflow: auto;
	height: 100%;
	/*width: 400px;*/
	font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* .bubble */


</style>