
<% 

    
    var row=data;
	  
	  var cl="bubble";
	  if (row.nickname==chatuser.nickname) cl="bubble bubble--alt";
	  
	  if (!row.time) {
	    
		var dataora=new Date();
		row.time=dataora.juliandateshort();
	  }
	  
	   var ora=row.time.substring(8,10)+":"+row.time.substring(10,12);
	  
	  var stile="";
	  if (row.color) {
	    
		if (row.color=="yellow") cl="sysbubble";
		//stile="style='background: "+row.color+";'";
	  
	  }
	  
%>

	
	<div class="<%=cl%>" <%=stile%>>
	   <span class="nick"><%=row.nickname%></span> - <%=ora%><br>
	   <%
	   if (row.foto) {
			if (row.foto.trim()!="") {
	   %>
	   <div style="swidth:300px; sheight: 300px">
	   
	   <!--<span class="foto">--><img style="max-width: 100%; max-height: 100%;" src='<%=row.foto%>' onclick="openChatFoto('<%=row.foto%>')" /><!--</span>-->
	   </div>
	   <br>
	   <% }} %> 
	   <%
	    if (row.audio) {
			if (row.audio.trim()!="") {
	   %>
	   <audio src="<%=row.audio%>" controls>
    Your browser does not support the audio element.
     </audio>
	   <br>
	   <% }} %>
		<%=row.text%>
	</div>
	

</div>
