<table border="1" id="rankingtable" align="center" width="98%">
<tr><th>N</th><th>Atleta</th><th>NG</th><th>ORO</th><th>ARG</th><th>BRO</th><th>PT</th></tr>
<% for (var i=0; i<data.length; i++) {

   var atl=data[i].doc;
   var x=parseInt(i,10)+1;
   
   var ori=data[i].doc.ori;
   var argenti=data[i].doc.argenti;
   var bronzi=data[i].doc.bronzi;
   var ngare=data[i].doc.garedisputate;
   
%>


<tr><td width="1%" align="center"><%=x%><td width="40%"><%= atl.cognome + "  " + atl.nome %></td><td width="2%" align="right"><span style="color: gray"/><%=ngare %></span></td><td width="2%" align="right"><%=ori%></td><td width="2%" align="right"><%=argenti%></td><td width="3%" align="right"><%=bronzi%></td><td align="right"><b><%= atl.ranking_tkdr %></b></td></tr>

<%

}


%>

</table>