<% 

if (role=="tkdradmin") {

%>
<li class="ui-li-static ui-body-inherit ui-first-child">
<a class="fastClick ui-link ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="createCronacaElement();//addCronaca()">Inserisci cronaca</a>
</li>
<%
 }

%>
<% 
var bubblecount=0;
var notarr=[];
for (var i=0; i<data.rows.length; i++)  {
  var cl="nonvisto";
  var lastcronaca=getCookie("lastcronaca");
  var cname="cronacaletti_"+jcurrentgara.id;
  //console.log("cname: "+cname);
  var letti=getCookie(cname);
  colog("cookie letti: "+letti)
  if (!letti) letti="";
  if (!lastcronaca) lastcronaca="";
	
  if (letti.indexOf(data.rows[i].time)>-1) {
  //if (data.rows[i].time>lastcronaca) {
    cl="visto";
	setCookie("lastcronaca",data.rows[i].time)
  } else {
  bubblecount++;
  //notarr.push(data.rows[i].text);
  }
  
  
  var foundRead=findCronacaRead(data.rows[i]);
  
  if (jcurrentgara.stato.toLowerCase()=="disputata") foundRead=true;
  
  var trback="#e6f9ff";
  if (foundRead) trback="white";
  
%>
<li class="ui-li-static ui-body-inherit ui-first-child" onclick="setCronacaRead('<%=data.rows[i].time%>')" style="background-color: <%=trback%>;"><table><tr ><td width="50">
<% if (data.rows[i].image) {
 conslog("trovata immagine")
 //var imgurl=rooturl+"/"+data.rows[i].image;
 var imgurl=data.rows[i].image;
 if (data.rows[i].imagelocal) imgurl=rooturl+"/"+data.rows[i].imagelocal;
 %>
<img onclick=openImage('<%=imgurl%>') src='<%=imgurl%>' width="50" height="50" />
<% }  else  { %><div style="width: 50px; height: 50px">&nbsp;</div><% } %></td><td>
<span class="data"><%= data.rows[i].time %></span><br>
<span class="testo <%= cl %>"><%= data.rows[i].text%></span>

</td>
<td>

<% if (role=="tkdradmin") { %>

<span style="cursor: pointer;" onclick="delCronaca('<%=data.rows[i].time%>')" class="ui-li-count">CANC</span>

<% } %>   
</td>                           
</tr>

<% if (data.rows[i].sound) {
   conslog("trovato audio")
  //var sndurl=rooturl+"/"+data.rows[i].sound;
  var sndurl=data.rows[i].sound;
  if (data.rows[i].sounddata) sndurl=data.rows[i].sounddata;
  if (data.rows[i].soundlocal) sndurl=rooturl+"/"+data.rows[i].soundlocal;
  %>
  <tr><td colspan="3"><audio src="<%=sndurl%>" controls>
   <p>Your browser does not support the audio element.</p>
  </audio></td></tr>
  <%
    
}%>


</table>
</li>
<% } 
colog("cronaca letta tutta dal tpl cronaca.ejs")
/*
if (bubblecount>0) {
 $("#gara #bubble").html(bubblecount).show();

 } else $("#gara #bubble").html("0").hide();
*/
%>