<ul data-role="listview" >
  

<%

var trooturl="https://www.tkdtechnology.it/index.php/welcome/";


for (var i=0; i<data.giorni.length; i++) {
   var giorno=data.giorni[i]; 
   var urlgiorno=trooturl+"dettaglio_tabulati?id_giorno="+giorno.id_giornata;
   var hasContent=giorno.hasContent;
   console.log(urlgiorno);
   var titolo=giorno.titolo;
   
   if (!giorno.hasContent) urlgiorno="javascript:none()";
   urlgiorno="javascript:none()";
   var st="";
   
   console.log("giorno.enabled",giorno.enabled);
   if (!giorno.enabled){
   
    
     st="background: silver";
     titolo=titolo.replace("I tabulati per questa giornata non sono ancora stati pubblicati","");
     titolo=titolo+"<br><span style='font-size: 11px'>Tabulati non disponibili</span>";
     console.log("giorno not enabled",titolo);
    
   }

%>



<li data-iconpos="right" style="cursor: pointer; <%=st%>" data-icon="arrow-r" data-inset="false" onclick="getTkdTechnologyGiornata('<%=giorno.id_giornata%>','<%=escape(giorno.titolo)%>')">
    <h2 ><%=titolo%></h2>
    <!--<div style="border: 1px solid silver; width: 100%">
    </div>-->
  </li>


<%

}


//var tiscr=jQuery.extend(true, {}, tkdt_atleti_iscritti);

var tiscr=JSON.parse(JSON.stringify(tkdt_atleti_iscritti));

tiscr.sort(function(a,b){
  var a1=a.societa.replaceAll(".","");
  var b1=b.societa.replaceAll(".","");

  if (a1>b1) return 1;
  if (a1<b1) return -1;
  return 0;

});
%>
</ul>
<br><br>
<div style="padding: 0">
<div data-role="collapsible" class="collaps" data-theme="a">
   	<h2>Iscritti: <%=tiscr.length%></h2>
 <div style="margin: 8px; overflow: auto;">
     <!--<table id="tkdtiscrittitable" border="1">-->
<%
var soc="";
 for (var i=0; i<tiscr.length; i++) {
     var iscr=tiscr[i];
     var cat=iscr.sesso+" "+iscr.cateta+" "+iscr.catcintura+" "+iscr.catpeso;
     //console.log(iscr);
     var style="color: black;";
     if (iscr.societa=="A.S.D. TAEKWONDO ROZZANO") style="color: blue; font-weight: bold;";

     if (iscr.societa!=soc){
       if (soc!=""){
         %>
         </table>
         </div>
         </div>
         <%
       }
       soc=iscr.societa;
       %>
       <div data-role="collapsible" class="collaps" data-theme="a">
   	<h2><%=soc.replaceAll(".","")%></h2>
     <div style="margin: 6px">
     <table width="100%" border="1">
       <!--<tr style="background: lightblue;"><td colspan="2" class="atleta">
       

       
       
       <span style="font-size: 12px;"><%=soc%></span></td></tr>-->

       <%
     }

%>
<tr height="45"><td colspan="2"><span class="atleta"><%=iscr.nome%></span><br><span style="font-size: 11px;" class="squadra"><%=cat%></span></td></tr>
<%
 }
%>
     </table>
     </div>

</div>     
</div>