
<% 

    
    var row=data;
	  
	  var cl="bubble";
	  if (row.nickname==chatuser.nickname) cl="bubble bubble--alt";
	  
	  if (!row.time) {
	    
		var dataora=new Date();
		row.time=dataora.juliandateshort();

	  }
	  
	   var ora=row.time.substring(8,10)+":"+row.time.substring(10,12);
	  
	  var stile="";
	  if (row.color) {
	    
		if (row.color=="yellow") cl="sysbubble";
		//stile="style='background: "+row.color+";'";
	  
	  }

		var chattext=row.text;
		if (chattext.indexOf("http")>-1){
			if (chattext.indexOf("<a href")==-1) chattext="<a target='_new' href='"+chattext+"'>"+chattext+"</a>";
		
		}
	  
%>

	
	<div class="<%=cl%>" <%=stile%>>
	   <span class="nick"><%=row.nickname%></span> - <%=ora%><br>
	   <%
	   var hasFoto64=false;
	   if (row.foto) {
			if (row.foto.trim()!="") {
			  hasFoto64=true;
	   %>
	   <div style="swidth:300px; sheight: 300px">
	   
	   <!--<span class="foto">--><img style="max-width: 100%; max-height: 100%;" src='<%=row.foto%>' onclick="openChatFoto('<%=row.foto%>')" /><!--</span>-->
	   </div>
	   <br>
	   <% }} %> 
	   
	    	   <%
	   if (row.fotourl) {
			if ((row.fotourl.trim()!="") && !hasFoto64)  {
	   %>
	   <div style="swidth:300px; sheight: 300px">
	   
	   <!--<span class="foto">--><img style="max-width: 100%; max-height: 100%;" src='<%=row.fotourl%>' onclick="openChatFoto('<%=row.fotourl%>')" /><!--</span>-->
	   </div>
	   <br>
	   <% }} %> 
	   
	     <%
		var done=false;
		if ((row.audiofilename) && isIOS) {
		  if (row.audiofilename.trim()!="") {
		    var fname=rooturl+"/data/chatmedia/"+row.audiofilename;
				var fname2="http://demym.altervista.org/herokudata/chatmedia/"+row.audiofilename;
	   %>
	   	    <!--<audio controls>
	  
	   		<source type="audio/mpeg" src="<%=fname2%>"></source>
		<source type="audio/ogg" src="<%=fname2%>"></source>
		<source type="audio/wav" src="<%=fname2%>"></source>
		<embed width="100" height="50" src="<%=fname2%>">-->
	   
   Your browser does not support the audio element.
 
	   </audio><br>-->
	   <a class="ui-btn ui-btn-inline ui-mini ui-icon-audio ui-btn-icon-left" href="<%=fname2%>" target="_system">Messaggio vocale</a>

	   <br>
	   
	   <% 
	   done=true;
	   
	   }} 
	   %> 
	   
	   <%
	   
	    if ((row.audio) && !isIOS) {
			if (row.audio.trim()!="") {
	   %>
	   <audio src="<%=row.audio%>" controls>
    Your browser does not support the audio element.
     </audio>
	   <br>
	   <% }} %>
	   
	  <%
	  if (!done) {
	    if ((row.audiourl) && isIOS) {
			if (row.audiourl.trim()!="") {
	   %>
	   <a class="ui-btn ui-btn-inline ui-mini ui-icon-audio ui-btn-icon-left" href="<%=row.audiourl%>" target="_system">Messaggio vocale</a>
	   <br>
	   <% }}} %> 
		<span class="chattext"><%=chattext%></span>
	
     <% 
	    
	 if (row.audiofilename) { 
	 
	   //var fname=rooturl+"/data/chatmedia/"+row.audiofilename;
	   var fname=row.audiofilename;
	   
	 %>
	 <input type="hidden" class="shareaudio" value="<%=fname%>" />
	 <% } %>  
	 
	 <%
	  if ((!row.audiofilename) && (row.audio)) { 
	 
	   
	   var fname=row.audio;
	   
	 %>
	 <input type="hidden" class="shareaudio" value="<%=fname%>" />
	 <% } %>  
	 
	 
	 
	 <% if (row.fotourl) { 
	 
	   //var fname=rooturl+"/data/chatmedia/"+row.audiofilename;
	   var fname=row.fotourl;
	 %>
	 <input type="hidden" class="sharefoto" value="<%=fname%>" />
	 <% } %>  
	 
	</div>
	

</div>
