<!--<li data-role="list-divider" data-position="fixed" role="heading" data-theme="b"><%= data.length%> schede</li>-->
<% for(var i=0; i<data.length; i++) { 

var ori=0;
var argenti=0;
var bronzi=0;

var chatnl=getChatNonLetti(data[i].doc.id);
//conslog("chatnonletti per gara "+data[i].doc.id+": "+chatnl);


ori=data[i].doc.ori;
argenti=data[i].doc.argenti;
bronzi=data[i].doc.bronzi;


var liscritti=0;
if (data[i].doc.myiscritti) {
if (data[i].doc.myiscritti.trim()!=""){
  liscritti=data[i].doc.myiscritti.split(",").length
}
}

var tipogara="Combattimento";
if (data[i].doc.tipo){
  if (data[i].doc.tipo.toLowerCase()=="forme") tipogara="Forme";
} 

var colorclass="cblack";
if (data[i].doc.stato.toLowerCase()=="disputata"){
  colorclass="cgray";
}
if (data[i].doc.stato.toLowerCase()=="incorso"){
  colorclass="cgreen";
}

%>
<li class="ui-first-child <%=colorclass%>" id="lieventi_<%=data[i].doc.id%>" onclick="openEvent('Evento','<%=data[i].doc.id%>')">
<a class="fastClick gradient <%=colorclass%>" href="#" id='<%= data[i].doc.id %>_<%= data[i].doc._rev %>' data-ajax="false" style="background-color:  data-transition='slide' black; color: ;" sclass="ui-btn ui-btn-icon-right ui-icon-carat-r <%=colorclass%>">
<div>
<span class="riga1 font13"><%= data[i].doc.title %></span><br>
<span class="riga2 font13"><%= data[i].doc.location.toUpperCase() %> - <%=data[i].doc.data%></span><br>
<div class="riga2 font13" style="word-wrap: break-word; white-space:normal;"><i><%= data[i].doc.descr %></i></div><br>
<!--<span class="riga2 font12">Tipo: <b><%= tipogara %></b></span><br>-->
<% 
   var stato=data[i].doc.stato;
   var st_testo=stato;
   if (stato=="nondisputata") st_testo="non disputata";
   if (stato=="incorso") st_testo="in corso";
   st_testo=st_testo.toUpperCase();
%>   
<!--<span class="riga3" style="font-size: 11px"><i><b><%=st_testo%></b></i></span><br>-->
<!--<span class="riga4 font13">Iscritti: <%=liscritti %> - ORI: <b><%=ori%></b>  ARG: <b><%=argenti%></b>  BRO: <b><%=bronzi%></b></span>-->
</div>
</a>
<% 

  
  var visclass="hidden";
 if (chatnl>0) {
    visclass="";
 }


 %>
 <!--<div class="<%=visclass%> ui-li-count chatgarabubble" style="background: green none repeat scroll 0% 0%; color: white" id="chatgarabubble"><%=chatnl%></div>-->
 
</li>


    <% } %>