
	<% 
	
	
	var dl=data.length;
	
	for(var i=0; i<data.length; i++) { 
	    var doc=data[i].doc;
		var st="";

		var garaid=jGara.gara.rows[0].doc.id;
		var atlid=doc.atletaid;
		var nkey=garaid+"_"+atlid;
		
		var notif_image="";

		var notif_found=false;
		for (var x=0; x<notifiche_temporeale.length; x++){
			var ntr=notifiche_temporeale[x];
			//console.log("ntr",ntr,"nkey",nkey);
			if (ntr==nkey) notif_found=true;

		}
		if (notif_found) {
			notif_image="<img src='img/notify2.png' width='25' height='25' />";
			//console.log("trovata notifica");

		} 



		if (doc.dadisputare=="yes") {
	
	%>
  <li id="match_<%= doc.id %>" style="<%=st%>" data-icon="false" tkdr-matchid="<%= doc.matchid %>" class="ui-li-has-thumb ui-first-child">
  
  <%
  var rt=false;
  if (doc.realtime){
	  if (String(doc.realtime)=="true") rt=true;
	}
	
	
  if (role=="tkdradmin") rt=false; 	
  
  if (rt) {
  
  %>
  <a onclick="gotoChat()" href="#" data-ajax="false" id="prog20150509212901" shref="javascript:matchAtletaDetail('000000000000026')" class="ui-btn" style="padding: 2px 2px 2px 2px;">
  <%
  
  } else {
  
  %>
  <a onclick="showMatchesForAtleta('<%= doc.atletaid %>','<%= doc.atletaname %>','<%= doc.datanascita %>');  $.mobile.changePage('#matchesatleta');" href="#" data-ajax="false" id="prog20150509212901" shref="javascript:matchAtletaDetail('000000000000026')" class="fastClick ui-btn" style="padding: 2px 2px 2px 2px;" >
  
  <%
  
  }
  
  %>
  
  
  <%
  
	
	var imgsrc="images/matchok.png";
	if (doc.disputato=="no") imgsrc="images/matchtoplay.png";
	if (doc.disputato=="yes"){
	  if (doc.vinto=="yes") imgsrc="images/matchok.png";
	  if (doc.vinto=="no") imgsrc="images/matchko.png";
	  if (doc.medagliamatch=="bronzo") imgsrc="images/medaglia_bronzo.png";
	  if (doc.medagliamatch=="argento") imgsrc="images/medaglia_argento.png";
	  if (doc.medagliamatch=="oro") imgsrc="images/medaglia_oro.png";
	}
	
	if (doc.realtime){
	  if (String(doc.realtime)=="true") imgsrc="images/greenblink.gif"
	}
	
	var colorstyle="";
	if (data[i].doc.color) {
	   colorstyle="background: "+data[i].doc.color+";";
	}
	
	
  
  %>

<!--<div class="ui-grid-a">-->
<table width="100%">
<tr>
<td width="60px" valign="top" style="padding: 5px">
  <!--<div class="ui-block-a" style="width: 10%">
  <div>-->
  <img class="cardnomargin simgicon sui-li-icon ui-corner-none" style="width: 45px; height: 45px" src="<%= imgsrc %>" sheight="50" swidth="50">
  <!--</div>
  </div>-->
 </td>
<td> 
  <!--<div class="ui-block-b" style="width: 90%">-->
    <div>
	
	<span class="match lgreen"><%= data[i].doc.matchid %></span><br>
	<span class="categoria"><%= getCategoria(data[i].doc.datanascita).toUpperCase() %></span><br>
	<div class="ui-grid-a">
    <div class="ui-block-a">
	<span class="atleta" style="width: 50%"><%= data[i].doc.atletaname %></span>
	</div>
    <div class="ui-block-b">
	
	</div>
    
</div>
	<%	
	  var vclass="";
	  var parola="Non disputato"
	   var goldenpoint="";
	if (data[i].doc.goldenpoint) {
	 if (String(data[i].doc.goldenpoint)=="true"){
	   goldenpoint=" GP";
	 } 
	}
	  if ($.trim(data[i].doc.disputato)=="yes")
	  {
	  if ($.trim(data[i].doc.vinto)!="yes") { 
	  
	  vclass="perso";
	  parola="Perso";
		} else {
		vclass="vinto";
		parola="Vinto";
	} 
	} else {
	
	}
	
	
	%>
	<span class="soft <%= vclass %>">
	<%= parola %><% if ($.trim(data[i].doc.disputato)=="yes") { %>, risultato: <%= data[i].doc.risultato %><%=goldenpoint%><% } %></span>
	<%
	
	if (data[i].doc.avversario) {
	%>
	<br><span class="avv"><br></span>
	<%
	}
	%>
	</div>
	<%
	 if (data[i].doc.derby)
	 {
	  //console.log("this is derby")
	  var dm=filterRows(jmatchesbyprog,{id: data[i].doc.derby})
	  colog("appena inmpostato dm per matchesbyprog.ejs")
	  colog(dm)
	  if (dm.rows.length>0)
	  {
	  var davv=dm.rows[0].doc.atletaname;
	
	
	%>
	  <span class=small><i>DERBY CON <%= davv.toUpperCase() %> !</i></span>
	<%
	  }
	  }
	%>
	<!--</div>
</div>	-->
</td>
<td width="23px" valign="top">
<div class="corazza" style="sfloat: right; right: 12px; width: 20px; height: 20px; "><%=notif_image%></div>
</td>
</tr>
</table>	

	</a>
	
	<input type="hidden" value="<%= doc.datanascita %>" class="datanascita">
	<input type="hidden" value="<%= doc.atletaid %>" class="atletaid">
	<input type="hidden" value="<%= doc.atletaname %>" class="atletaname"></li>
   <% 
    }
   } 
   
   if (dl==0){
   
    var filttext="";
   if (isFiltered) filttext=" (filtro applicato)"
   
   %>
  
   <div class="card"  style="text-align: center">
	<div class="card-image" style="text-align: center; stop: 15px; height: 105px; ">
		<img alt="home" src="images/fight.png" style="width: 100px; height: 100px;"/>
		<!--<h2>Card Title</h2>-->
	</div>
	<div>
	
	
	<!--<h1>Pools non disponibili</h1>-->
	<p style="background: lightblue">Nessun incontro trovato <%=filttext%></p>
	</div>
	
</div>



   
   <%
   
   }
   
   %>