<%
 
  var idx=data;
  var rtelem=realtimeArray[idx];
 
  
  if (!rtelem.result) rtelem.result="0-0";
  
   /*console.log(rtelem);
  
  var rtchecked="";
  if (rtelem.active) {
    if (String(rtelem.active)=="true") rtchecked="checked";
  }
  var pausechecked="";
  if (rtelem.paused) {
    if (String(rtelem.paused)=="true") pausechecked="checked";
  }
  
  var endroundchecked="";
  if (rtelem.endround) {
    if (String(rtelem.endround)=="true") endroundchecked="checked";
  }
  */
  //alert(rtelem.result);
  
 
%>

       <div sstyle="padding:10px 20px;">
              <!--<h4>Imposta risultato</h4>-->
		 <div>
			    <label for="ck_realtime">Tempo reale
             <input type="checkbox" onclick="clickRealtime()" name="ck_realtime" id="ck_realtime" class="ckbox custom"  ></label>
		 <div id="realtimediv" style="border: 0px solid silver; background-color: #eeeeee;">	 
			 
			 
			<fieldset class="ui-grid-a cgroup" > 
			 <div class="ui-block-a">
			 <label for="ckpausematch">IN PAUSA
			 <input type="checkbox" name="ckpausematch" id="ckpausematch" onclick="$(this).checkboxradio('refresh'); sendRtCmd(<%=idx%>,'pause')" class="custom"  ></label>
			 </div>
			  <div class="ui-block-b"><label for="ckfineround">Fine R<input onclick="sendRtCmd(<%=idx%>,'endround',this)" type="checkbox" name="ckfineround" id="ckfineround" class="custom"   /></label></div>
			
			</fieldset>
			 <fieldset class="ui-grid-c cgroup" id="roundfieldset" style="padding: 0px">
			<!--<div style="display: table; margin: 0 auto;">-->
            <div class="ui-block-a"><label for="radio_round1">1<input onclick="sendRtCmd(<%=idx%>,'round_1_start')" class="roundnumber" type="radio" name="radio-round-0" id="radio_round1" value="1"></label></div>
			<div class="ui-block-b"><label for="radio_round2">2<input onclick="sendRtCmd(<%=idx%>,'round_2_start')" class="roundnumber" type="radio" name="radio-round-0" id="radio_round2" class="custom" value="2"></label></div>
            <div class="ui-block-c"><label for="radio_round3">3<input onclick="sendRtCmd(<%=idx%>,'round_3_start')" class="roundnumber" type="radio" name="radio-round-0" id="radio_round3" class="custom" value="3"></label></div>
			<div class="ui-block-d"><label for="radio_gp">GP<input onclick="sendRtCmd(<%=idx%>,'round_gp_start')" class="roundnumber" type="radio" name="radio-round-0" id="radio_gp" class="custom" value="GP"></label></div>
			
			<!--</div>-->
			</fieldset>  
			 



	
<table width="100%">
<!--<tr>

<td colspan="3" align="center">
<span style="font-size: 10px">Ammonizioni</span>
</td>
</tr>-->
<tr style="padding: 0px">
<td width="30%">
<span style="font-size: 10px">Ammonizioni</span>
</td>
<td align="center">
<!--<div data-role="controlgroup" data-type="horizontal" style="text-align: right" class="groupbutton">-->
	<button type="button" style="border: 1px solid blue" class="incbutton" id="ammplus1" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="plus">+</button>    
     <button type="button" style="border: 1px solid blue" class="incbutton" id="ammminus1" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="minus">-</button>	 
	<!--</div>-->
</td>
<td width="20%" align="center">
<input type="text" name="ammoniz1" id="ammoniz1" value="0" placeholder="ammonizioni" data-theme="a">
</td>


</tr>


</table>

			</div>   <!-- fine realtimediv -->
<table width="100%">
<!--<tr>
<td colspan="3" align="center">
<span style="font-size: 10px">Punteggio</span>
</td>
</tr>-->
<tr style="padding: 0px">
<td width="20%">
<span style="font-size: 10px">Punteggio</span>
</td>
<td align="center" width="30%">
<!--<div data-role="controlgroup" data-type="horizontal" style="text-align: right" class="groupbutton">-->
	<a data-role="button" onclick="sendRtCmd(<%=idx%>,'p1plus')" type="button" style="border: 1px solid blue" class="incbutton" id="plus1" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="plus" >+</a>
	<a data-role="button" onclick="sendRtCmd(<%=idx%>,'p1minus')" type="button" style="border: 1px solid blue" class="incbutton" data-mini="true" data-inline="true" id="minus1"data-theme="c" data-iconpos="notext" data-icon="minus">-</a>
	<!--</div>-->
</td>
<td width="20%" align="center">
<input type="text" name="risult" id="risult" value="<%=rtelem.result%>" placeholder="risultato" data-theme="a">
</td>
<td align="center" width="30%">
<!--<div data-role="controlgroup" data-type="horizontal" style="text-align: left">-->
  <button onclick="sendRtCmd(<%=idx%>,'p2plus')"  type="button" style="border: 1px solid black" class="incbutton" id="plus2" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="plus">+</button>
  <button onclick="sendRtCmd(<%=idx%>,'p2minus')" type="button" style="border: 1px solid black" class="incbutton" id="minus2" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="minus">-</button>		
 <!--</div>	-->
</td>



</tr>


</table>
	
<!--	
<fieldset class="ui-grid-b">
    <div class="ui-block-a">
	<div data-role="controlgroup" data-type="horizontal" style="text-align: right" class="groupbutton">
	<a data-role="button" type="button" style="border: 1px solid blue" class="incbutton" id="plus1" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="plus" >+</a>
	<a data-role="button" type="button" style="border: 1px solid blue" class="incbutton" data-mini="true" data-inline="true" id="minus1"data-theme="c" data-iconpos="notext" data-icon="minus">-</a>
	</div>
	</div>

	<div class="ui-block-b"><label for="risult" class="ui-hidden-accessible" >Risultato:</label>
    <input type="text" name="risult" id="risult" value="0-0" placeholder="risultato" data-theme="a">
	</div>	

<div class="ui-block-c">
 <div data-role="controlgroup" data-type="horizontal" style="text-align: left">
  <button type="button" style="border: 1px solid black" class="incbutton" id="plus2" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="plus">+</button>
  <button type="button" style="border: 1px solid black" class="incbutton" id="minus2" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="minus">-</button>		
 </div>	
</div>	
</fieldset>
-->


<!--
<fieldset class="ui-grid-b">
<!--<div style="display: table; margin: 0 auto;">
<div class="ui-block-a">Amm.</div>
 <div class="ui-block-b">
   <div data-role="controlgroup" data-type="horizontal" style="text-align: right" class="groupbutton">
     <button type="button" style="border: 1px solid blue" class="incbutton" id="ammplus1" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="plus">+</button>    
     <button type="button" style="border: 1px solid blue" class="incbutton" id="ammminus1" data-theme="c" data-mini="true" data-inline="true" data-iconpos="notext" data-icon="minus">-</button>	 
   </div>	 
 </div>
  <div class="ui-block-c"> <input type="text" name="ammoniz1" id="ammoniz1" value="0" placeholder="ammonizioni" data-theme="a"></div>

</fieldset>
-->
			 
			 

		
</div>
	
             <label for="checkgp">
             <input type="checkbox" name="checkgp" id="checkgp" class="custom">Golden point</label>
			<fieldset class="ui-grid-b">
			
            <div class="ui-block-a"><label for="radio_vinto">V<input type="radio" name="radio-choice-0" id="radio_vinto" value="vinto"></label></div>
			<div class="ui-block-b"><label for="radio_perso">P<input type="radio" name="radio-choice-0" id="radio_perso" class="custom" value="perso"></label></div>
            <div class="ui-block-c"><label for="radio_nondisputato">ND<input type="radio" name="radio-choice-0" id="radio_nondisputato" class="custom" value="nondisputato"></label></div>
			<!--</div>-->
			</fieldset>  
              <a href="javascript:setResultOK()" data-role="button" id="resultok" sdata-theme="b" data-icon="check"><span style="color: green; font-weight: bold;">SALVA RISULTATO</span></a>
			  <a href="javascript:setResultCancel();" data-role="button" id="resultcancel" sdata-theme="b" data-icon="check">Annulla</a><br><br>
			  <br>
			  <a href="javascript:createCronacaElement();" data-role="button" id="createcronacaelement" style="display:none" sdata-theme="b" data-icon="check">Aggiungi elemento cronaca</a><br><br>
			  
			  <!--<fieldset class="ui-grid-b">
			  <div class="ui-block-a"><a href="javascript:recordAudio();" data-role="button" id="recordaudio" sdata-theme="b" data-icon="audio"><span style="color: red; font-weight: bold;">REGISTRA CRONACA</span></a></div>
			  <div class="ui-block-b"><a href="javascript:playAudio();" data-role="button" id="playaudio" sdata-theme="b" data-icon="audio"><span style="color: black; font-weight: normal;">RIASCOLTA CRONACA</span></a></div>
			  <div class="ui-block-c"><a href="javascript:sendAudio();" data-role="button" id="sendaudio" sdata-theme="b" data-icon="comment"><span style="color: blue; font-weight: bold;">TRASMETTI CRONACA</span></a></div>
			  </fieldset>-->
            </div>
   