
	<% 
	
	
	var dl=data.length;
	
	for(var i=0; i<data.length; i++) { 
	    var doc=data[i].match;
		var rtdoc=data[i];

		conslog("rtdoc["+i+"]",rtdoc);
		var st="";
		if (doc.dadisputare=="yes") {
	
	%>
  <li id="match_<%= doc.id %>" style="<%=st%>" data-icon="false" tkdr-matchid="<%= doc.matchid %>" class="mrealtime ui-li-has-thumb ui-first-child">
  <!--<a onclick="showMatchesForAtleta('<%= doc.atletaid %>','<%= doc.atletaname %>','<%= doc.datanascita %>');  $.mobile.changePage('#matchesatleta');" href="#" data-ajax="false" id="prog20150509212901" shref="javascript:matchAtletaDetail('000000000000026')" class="ui-btn">-->
  <a  data-ajax="false" id="prog20150509212901" onclick="clickRtMatch('<%=doc.id%>','<%=doc.garaid%>',this)" class="ui-btn">
  <%
  
	
	var imgsrc="images/greenblink.gif";
	
  %>

  <img class="imgicon sui-li-icon ui-corner-none" src="<%= imgsrc %>" sheight="50" swidth="50">

    <div>
	<span class="match lgreen"><%= doc.matchid %></span><br>
	<!--<span class="categoria"><%= getCategoria(doc.datanascita).toUpperCase() %></span><br>-->
	<span class="atleta"><%= doc.atletaname %></span><br>
	<span class="realtime"><%=rtdoc.text%></span>
	</div>
	<%
	 if (doc.derby)
	 {
	  //console.log("this is derby")
	  var dm=filterRows(jmatchesbyprog,{id: doc.derby})
	  colog("appena inmpostato dm per matchesbyprog.ejs")
	  colog(dm)
	  if (dm.rows.length>0)
	  {
	  var davv=dm.rows[0].doc.atletaname;
	
	
	%>
	  <!--<span class=small><i>DERBY CON <%= davv.toUpperCase() %> !</i></span>-->
	<%
	  }
	  }
	%>
	</a>
	
	<input type="hidden" value="<%= doc.datanascita %>" class="datanascita">
	<input type="hidden" value="<%= doc.atletaid %>" class="atletaid">
	<input type="hidden" value="<%= doc.atletaname %>" class="atletaname"></li>
   <% 
    }
   } 
   
  
   %>
  