 <div align="center">
 <span class="atleta"><%=data.nome%></span><br>
 <span class="medium"><%=data.categoria_peso%></span><br>
 <span class="medium"><%=data.categoria_cintura%></span><br>
 </div>
 <br>
 <span class="medium">Tabulati trovati:</span>

<%
 for (var i=0; i<data.tabulati.length; i++) {
  var dat=data.tabulati[i];
 %>
 
 <a class="ui-btn" onclick="openTabulatoPage(this,'<%=dat.href%>')" href="#"><span class="small"><%=dat.descr%><br><span style="font-size: 10px; color: gray"><%=dat.tabn%></span></span></a>
 
 
 <%
 
 }
 
 
 %>