 <% 
 
 var isc=getCookie("notifiche_atleta");
 console.log("cookie notifiche: "+isc);
 console.log(JSON.stringify(data));
 if (!isc) isc="";
 for(var i=0; i<data.length; i++) {
    console.log(data[i].id);


 %>
 <% 
 var ck="";
 if (isc.indexOf(data[i].id)>-1) ck="checked" %>
 <label for="cka_<%= data[i].id %>"><%= data[i].nome %></label>
 <input type="checkbox" name="atletiselected" id="cka_<%= data[i].id %>" value="<%= data[i].id %>" <%=ck%> >
 
 <%
  
 } %>