<p><%=data.length%> Users in Appkwondo</p><br><br>


<table width="100%" border="1">

<% 

var rows=data;

rows.forEach(function(item,idx){

    var url=rooturl+"/user/approve/"+item.doc.email;
    var active=String(item.doc.active);
    var st="";
    if (active!="true") st=" style='background: silver' ";

%>

<tr <%=st%> >
<td><%=item.doc.email%><br><span style="font-size: 12px"><%=item.doc.nickname%></span></td>

<td>
<%
  if (active!="true") {

      %>

      <a onclick="approveUser('<%=item.doc.email%>')">APPROVA</a><br>
      
      <%
  }
      %>

      <a onclick="deleteUser('<%=item.doc.email%>')">ELIMINA</a>

      </td>




</tr>




<%


})


%>

</table>

