
<%


conslog(data);
var ev=data.rows[0].doc;
var maplocation="";
var showmap=false;
if (ev.maplocation){
    if (ev.maplocation.trim()!="")  {
        showmap=true;
    }  
}


if (role=="tkdradmin") { 

%>

<a data-role="button" onclick="editEvento('<%=ev.id%>')">Modifica Evento</a><br>

<%

}




%>



<h1><b><%=ev.title%></b></h1><br><br>

<span class="minilabel" >Location</span><br>
<span class="infolabel" ><%=ev.location%></span><br>
<span class="minilabel">Date e ora</span><br>
<span class="infolabel"><%=ev.data%> - <%=ev.ora%></span><br>
<span class="minilabel">Descrizione evento</span><br>
<span class="infolabel"><i><%=ev.descr%></i></span><br>

<%

if (showmap) {

%>

<br><br>
<iframe width="100%" height="450" frameborder="0" allowfullscreen="" style="border:1px solid black" src="<%=ev.maplocation%>"></iframe>


<%


}

%>
